<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="sono" translate="label" sortOrder="0">
            <label>Sono</label>
        </tab>
        <section id="sono_general_settings" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <label>General</label>
            <tab>sono</tab>
            <resource>YDT_ImageUploader::ImageUploader_edit</resource>
            <group id="file_settings" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>File</label>
                <field id="enable_additional_extensions" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allow to upload additional extensions</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Extensions: SVG</comment>
                </field>
            </group>
        </section>
    </system>
</config>
