<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="YDT_ImageUploader::ImageUploader" sortOrder="10" title="ImageUploader">
                    <resource id="YDT_ImageUploader::ImageUploader_edit" sortOrder="10" title="View/Edit ImageUploader"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
